/* ---- color definitions ---- */
$color-selection: #b3d4fc;
$color-main: #E67E22;
$color-accent: #B34B00;
$color-base: #FFFFE2;
$color-text-base: #004d23;
$color-text-main: #ffffff;
$color-text-accent: #ffffff;
$color-border-hr: #cccccc;
$color-shadow: #ccbaad;